*{
    font-family: "meriendaregular", sans-serif;
    
}

#pozadina{
    background-size: cover;
    background-image: url("http://polaznik06.edunova.hr/rezerviraj_event/public/css/1-osijek-skyline-in-watercolor-splatters-pablo-romero.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    padding-bottom: 20%;

}

@font-face {
    font-family: "meriendaregular";
    src: url("http://polaznik06.edunova.hr/rezerviraj_event/public/css/merienda-regular-webfont.woff2") format("woff2"),
         url("http://polaznik06.edunova.hr/rezerviraj_event/public/css/merienda-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}


.large-10.medium-10.small-12.columns>h1{
    width: 100%;
    text-align: center;
}

.top-bar-right{

    text-align:center;
}

#login{
display:inline-block;
}
